.make {
  padding: 10px 30px;
  max-width: 1400px;
  max-height: calc(100vh - 80px);
  margin: 0 auto;
}

.make-column {
  max-height: calc(100vh - 80px);
  padding: 0px 10px;
  overflow: auto;
}
.make-left {
  width: 100%;
}

.make-right {
  padding-top: 30px;
  max-width: 500px;
}

@media all and (min-width: 700px) {
  .make {
    display: flex;
  }
  .make-column {
    width: 100%;
  }
}

.make-edit {
  padding: 0px 40px;
}

.todo-list {
}

.todo-title {
  line-height: 30px;
  font-size: 1.2em;
}

.todo-transition-enter {
  opacity: 0.01;
}

.todo-transition-enter.todo-transition-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.todo-transition-leave {
  opacity: 1;
}

.todo-transition-leave.todo-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
